<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/photo_app</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">tesla</property>

        <property name="hibernate.id.new_generator_mappings">true</property>
        <property name="show_sql">true</property>
        <property name="connection.pool_size">10</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.transaction.jta.platform_resolver"/>

<!--        <property name="hibernate.c3p0.min_size">5</property>-->
<!--        <property name="hibernate.c3p0.max_size">25</property>-->
<!--        <property name="hibernate.c3p0.timeout">300</property>-->
<!--        <property name="hibernate.c3p0.max_statements">50</property>-->
<!--        <property name="hibernate.transaction.jta.platform">org.hibernate.service.jta.platform.internal.WeblogicJtaPlatform</property>-->
        <mapping class="com.codingnuts.app.ws.io.entity.UserEntity"/>
    </session-factory>
</hibernate-configuration>
